#cabecalhoSecretaria{
    background-color: #122545;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 5%;
}

#formSecretaria{
    background-color: red;
    /* display: flex; */
    position: relative;
    justify-content: center;
    left: 50%;
    right: 50%;
    display: grid;
}