.container {
    display: grid;
    grid-template-columns: 40% 60%;
    overflow: hidden;
    height: 100vh;
}

.image-container {
    position: relative;
    touch-action: none;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F8F8FA;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 100%;
    }

    .login-container {
        position: relative;
        top: -50px;
        z-index: 2;
        width: 100%;
    }
}

@media (min-width: 769px) {
    .image-container {
        width: 100%;
        height: 100%;
    }

    .background-image {
        width: 100%;
        height: 100%;
    }

    .login-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0;
        z-index: 1;
        flex: 1;
        padding: 20px;
        background-color: #F8F8FA;
        box-sizing: border-box;
        height: 100vh;
    }
}

.logoimg {
    width: 280px;
    height: 100px;


    margin: 30px;
}

/* teste */
.custom-table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
    width: 70vw;
}

.custom-table th,
.custom-table td {
    text-align: left;
    padding: 8px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    height: 100px;
    position: relative;
}

.custom-table th {
    background-color: #f2f2f2;
}

.custom-table tr:first-child th,
.custom-table tr:first-child td {
    border-top: none;
}

.custom-table tr:nth-child(even) {
    background-color: #ebebeb;
}

/* Adicione este bloco */
.custom-table tr td:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    /* Ajuste o valor para controlar a distância da borda */
    bottom: 0;
    width: 5px;
    /* Largura da borda lateral */
    background-color: #ccc;
    /* Cor da borda lateral */
}

